**/*.h linguist-language=C
**/*.pph linguist-language=C
**/*.ppc linguist-language=C
**/*.inl linguist-language=C
**/*.s linguist-language=Assembly
**/Makefile.* linguist-language=Makefile
**/*.mk linguist-language=Makefile
